<a href="https://colab.research.google.com/github/beast1912/minor-project/blob/main/intrusion_detection_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('2020.06.19.csv')
print(df.head())

     avg_ipt  bytes_in  bytes_out  dest_ip  dest_port   entropy  num_pkts_out  \
0   7.500000       342       3679      786     9200.0  5.436687             2
1   0.000000         0          0      786    55972.0  0.000000             1
2   0.500000     15440        942      786     9300.0  2.203135             3
3  20.217391       622      31010      786     9300.0  1.189945            23
4   0.000000         0          0      786    59498.0  0.000000             1

   num_pkts_in  proto  src_ip  src_port          time_end        time_start  \
0            2      6     786   57392.0  1592533725648144  1592533725632946
1            1      6   49453   49493.0  1592533744644904  1592533744644904
2            3      6     786   60512.0  1592533770936279  1592533770933553
3            5      6     786   60490.0   159253376770238    15925337672353
4            1      6     786    9300.0  1592533772973114  1592533772973087

   total_entropy    label  duration
0      21860.918   benign  0.015198
1          0.000  outlier  0.000000
2      36091.754   benign  0.002726
3      37640.355   benign  0.467080
4          0.000   benign  0.000027

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765360 entries, 0 to 765359
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   avg_ipt        765360 non-null  float64
 1   bytes_in       765360 non-null  int64
 2   bytes_out      765360 non-null  int64
 3   dest_ip        765360 non-null  int64
 4   dest_port      740863 non-null  float64
 5   entropy        765360 non-null  float64
 6   num_pkts_out   765360 non-null  int64
 7   num_pkts_in    765360 non-null  int64
 8   proto          765360 non-null  int64
 9   src_ip         765360 non-null  int64
 10  src_port       740863 non-null  float64
 11  time_end       765360 non-null  int64
 12  time_start     765360 non-null  int64
 13  total_entropy  765360 non-null  float64
 14  label          765360 non-null  object
 15  duration       765360 non-null  float64
dtypes: float64(6), int64(9), object(1)
memory usage: 93.4+ MB

In [ ]:
df.isnull().sum()

avg_ipt              0
bytes_in             0
bytes_out            0
dest_ip              0
dest_port        24497
entropy              0
num_pkts_out         0
num_pkts_in          0
proto                0
src_ip               0
src_port         24497
time_end             0
time_start           0
total_entropy        0
label                0
duration             0
dtype: int64

In [ ]:
df['dest_port'] = df['dest_port'].fillna(-1)
df['src_port'] = df['src_port'].fillna(-1)

In [ ]:
df.describe()

,avg_ipt,bytes_in,bytes_out,dest_ip,dest_port,entropy,num_pkts_out,num_pkts_in,proto,src_ip,src_port,time_end,time_start,total_entropy,duration
count,7.653600e+05,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,765360.000000,7.653600e+05,7.653600e+05,7.653600e+05,765360.000000
mean,3.496450e+06,1592.690275,3462.929138,2470.811163,11256.602814,3.601672,8.320769,6.238910,7.364372,25145.177230,40610.732040,1.448437e+15,1.448348e+15,2.547258e+04,2.223325
std,6.386029e+07,6512.809375,8789.176140,12904.890602,17023.798949,2.730748,26.132174,23.368682,3.971379,48396.740293,20435.337079,4.336832e+14,4.337866e+14,1.276459e+05,6.741492
min,0.000000e+00,0.000000,0.000000,3.000000,-1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-1.000000,1.592536e+10,1.592537e+10,0.000000e+00,0.000000
25%,0.000000e+00,0.000000,51.000000,786.000000,445.000000,1.283159,1.000000,0.000000,6.000000,786.000000,24391.000000,1.592537e+15,1.592537e+15,1.583274e+02,0.000047
50%,0.000000e+00,12.000000,191.000000,786.000000,9200.000000,4.551788,3.000000,1.000000,6.000000,786.000000,52412.000000,1.592541e+15,1.592541e+15,2.146884e+03,0.006980
75%,7.875000e+01,299.000000,2416.000000,786.000000,9200.000000,5.167237,6.000000,6.000000,6.000000,25513.000000,52460.000000,1.592562e+15,1.592562e+15,1.881529e+04,0.588607
max,4.294967e+09,65512.000000,65534.000000,327932.000000,65535.000000,87.383400,255.000000,255.000000,58.000000,396998.000000,65535.000000,1.592611e+15,1.592611e+15,3.076726e+06,49.029870

In [ ]:
features = df.drop(['label'], axis = 1).values
detection_labels = df['label'].values

In [ ]:
print(features)

[[7.50000000e+00 3.42000000e+02 3.67900000e+03 ... 1.59253373e+15
  2.18609180e+04 1.51980000e-02]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 1.59253374e+15
  0.00000000e+00 0.00000000e+00]
 [5.00000000e-01 1.54400000e+04 9.42000000e+02 ... 1.59253377e+15
  3.60917540e+04 2.72600000e-03]
 ...
 [1.11111111e+00 3.48000000e+02 9.12600000e+03 ... 1.59261118e+15
  2.84207750e+04 1.12390000e-02]
 [1.60250000e+03 1.12000000e+02 1.12000000e+02 ... 1.59261117e+14
  2.37515150e+02 6.41061500e+00]
 [0.00000000e+00 5.60000000e+01 5.60000000e+01 ... 1.59261118e+15
  1.14267365e+02 8.10000000e-05]]

In [ ]:
print(detection_labels)

['benign' 'outlier' 'benign' ... 'benign' 'malicious' 'malicious']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
detection_labels = le.fit_transform(detection_labels)

In [ ]:
np.unique(detection_labels)

array([0, 1, 2])